@import "src/styles/config";

.root {
    height: 100vh;
    display: flex;
    flex-direction: row;

    @include rl-tablet-and-mobile {
        height: auto;
        flex-direction: column;
    }
}

.aside {
    background-color: #2d2d2d;
    width: 450px;

    @include rl-tablet-and-mobile {
        width: 100%;
        flex-direction: row;
    }
}

.title {
    padding-bottom: 3.25em;
}

.btn {
    color: #fff;

    // border-radius: .675rem !important;

    font-size: 15px !important;
    font-weight: 600!important;
    padding: 0.7rem 1.5rem!important;
}
