.root {
    height: 100vh;
    background-image: url("https://github.com/ppy/osu-resources/raw/master/osu.Game.Resources/Textures/Menu/menu-background-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100vh;
}
