@import "src/styles/config";

.root {
    padding: 4rem 0.5rem;

    @include rl-desktop {
        padding: 4rem;
    }
}

.text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    padding: 15px
}
