//
// Global Components And 3rd-party Plugin Customizations
//



// 3rd-party plugins customizations
@import "integration/plugins/perfect-scrollbar";
@import "integration/plugins/blockui";
@import "integration/plugins/fullcalendar";
@import "integration/plugins/bootstrap-datepicker";
@import "integration/plugins/bootstrap-notify";
@import "integration/plugins/bootstrap-switch";
@import "integration/plugins/bootstrap-datetimepicker";
@import "integration/plugins/bootstrap-timepicker";
@import "integration/plugins/bootstrap-daterangepicker";
@import "integration/plugins/bootstrap-touchspin";
@import "integration/plugins/bootstrap-maxlength";
@import "integration/plugins/bootstrap-select";
@import "integration/plugins/bootstrap-session-timeout";
@import "integration/plugins/jqvmap";
@import "integration/plugins/ion-range-slider";
@import "integration/plugins/typeahead";
@import "integration/plugins/nouislider";
@import "integration/plugins/summernote";
@import "integration/plugins/bootstrap-markdown";
@import "integration/plugins/dropzone";
@import "integration/plugins/recaptcha";
@import "integration/plugins/toastr";
@import "integration/plugins/gmaps";
@import "integration/plugins/fontawesome5";
@import "integration/plugins/jstree";
@import "integration/plugins/select2";
@import "integration/plugins/sweetalert2";
@import "integration/plugins/datatables";
@import "integration/plugins/jquery-repeater";
@import "integration/plugins/duallistbox";
@import "integration/plugins/uppy";
@import "integration/plugins/quill";
@import "integration/plugins/tagify";
@import "integration/plugins/tinymce";
@import "integration/plugins/ckeditor";
@import "integration/plugins/kanban";
