//
// Global Mixins
//




@mixin rl-clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin rl-button-reset() {
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background: none;
    outline: none !important;
    margin: 0;
    padding: 0;
}

@mixin rl-input-reset() {
    border: 0;
    background: none;
    outline: none !important;
    box-shadow: none;
}

@mixin rl-btn-reset() {
    border: 0;
    background: none;
    outline: none !important;
    box-shadow: none;
    outline: none !important;
}

@mixin rl-fix-fixed-position-lags() {
    // webkit hack for smooth font view on fixed positioned elements
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}

@mixin rl-fix-animation-lags() {
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
}

@mixin rl-attr($attr, $value, $important: '') {
    @if  $value != null  {
        #{$attr}: #{$value} #{$important};
    }
}

@mixin rl-hack-ie {
    //IE10 and IE11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin rl-hack-edge-all {
    @supports (-ms-ime-align:auto) {
        @content;
    }
}

@mixin rl-rounded {
    @if $rl-rounded == true {
        @content;
    }
}

@mixin rl-not-rounded {
    @if $rl-rounded == false {
        @content;
    }
}

// Input placeholder color
@mixin rl-input-placeholder($color) {
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    // See https://github.com/twbs/bootstrap/pull/11526
    &:-ms-input-placeholder {
        color: $color;
    }
    // Internet Explorer 10+
    &::-webkit-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
}

@mixin rl-hover-transition {
    transition: $rl-transition;

    &:hover {
        transition: $rl-transition;
    }
}

@mixin rl-transition {
    transition: $rl-transition;
}

// Icon Sizing
// SASS Map:  (lineawesome: 1.1rem, fontawesome: 1.2rem, flaticon: 1.1rem)
@mixin rl-icons-size($config) {
    // Lineawesome
    [class^="la-"],
    [class*=" la-"] {
        font-size: rl-get($config, lineawesome);
    }

    // Fontawesome
    [class^="fa-"],
    [class*=" fa-"] {
        font-size: rl-get($config, fontawesome);
    }

    // Flaticon
    [class^="flaticon-"],
    [class*=" flaticon-"],
    [class^="flaticon2-"],
    [class*=" flaticon2-"] {
        font-size: rl-get($config, flaticon);
        // fix icon position for RTL
        float: left;
    }
}

// Icon attr
// SASS Map:  (lineawesome: 1.1rem, fontawesome: 1.2rem, flaticon: 1.1rem)
@mixin rl-icons-style($attr, $config) {
    // lineawesome
    [class^="la-"],
    [class*=" la-"] {
        #{$attr}: rl-get($config, lineawesome);
    }

    // Fontawesome
    [class^="fa-"],
    [class*=" fa-"] {
        #{$attr}: rl-get($config, fontawesome);
    }

    // Flaticon
    [class^="flaticon-"],
    [class*=" flaticon-"],
    [class^="flaticon2-"],
    [class*=" flaticon2-"] {
        #{$attr}: rl-get($config, flaticon);
    }
}

// SASS Map:  (lineawesome: 1.1rem, fontawesome: 1.2rem, flaticon: 1.1rem)
@mixin rl-icons {
    [class^="la-"],
    [class*=" la-"],
    [class^="fa-"],
    [class*=" fa-"],
    [class^="flaticon-"],
    [class*=" flaticon-"],
    [class^="flaticon2-"],
    [class*=" flaticon2-"] {
        @content;
    }
}

// Lineawesome icon
@mixin rl-la-icon($icon) {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    &:before {
        content: "#{$icon}";
    }
}

@mixin rl-la-icon-change($icon) {
    &:before {
        content: "#{$icon}";
    }
}

@mixin rl-flaticon2-icon($icon) {
    font-family: Flaticon2;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "#{$icon}";
}

// Lineawesome icon
@mixin rl-la-icon-self($icon) {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: "#{$icon}";
}

// Close icon
@mixin rl-close-icon($self:null) {
    @if $self == true {
        @include rl-la-icon-self( rl-get($rl-action-icons, close) );
    } @else {
        @include rl-la-icon( rl-get($rl-action-icons, close) );
    }
}

// Arrow icon
@mixin rl-arrow-icon($dir, $self:null) {
    @if $dir == down {
        @if $self == true {
            @include rl-la-icon-self( rl-get($rl-action-icons, down) );
        } @else {
            @include rl-la-icon( rl-get($rl-action-icons, down) );
        }
    }

    @if $dir == up {
        @if $self == true {
            @include rl-la-icon-self( rl-get($rl-action-icons, up) );
        } @else {
            @include rl-la-icon( rl-get($rl-action-icons, up) );
        }
    }

    @if $dir == left {
        @if $self == true {
            @include rl-la-icon-self( rl-get($rl-action-icons, left) );
        } @else {
            @include rl-la-icon( rl-get($rl-action-icons, left) );
        }
    }

    @if $dir == right {
        @if $self == true {
            @include rl-la-icon-self( rl-get($rl-action-icons, right) );
        } @else {
            @include rl-la-icon( rl-get($rl-action-icons, right) );
        }
    }
}

// Svg icon color
@mixin rl-svg-icon-color($color) {
    g {
        [fill] {
            transition: fill 0.3s ease;
            fill: $color;
        }
    }

    &:hover {
        g {
            [fill] {
                transition: fill 0.3s ease;
            }
        }
    }
}

// Breakpoint mixins
// Layout Breakpoints
// Define the minimum and maximum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries.

@mixin rl-media-below($width) {
    @media (max-width: #{rl-media-breakpoint($width)}) {
        @content;
    }
}

@mixin rl-media-above($width) {
    @media (min-width: #{rl-media-breakpoint($width) + 1px}) {
        @content;
    }
}

@mixin rl-media-range($from, $to) {
    @media (min-width: #{rl-media-breakpoint($from) + 1px}) and (max-width: #{rl-media-breakpoint($to)}) {
        @content;
    }
}

@mixin rl-minimal-desktop {
    @media (min-width: #{rl-media-breakpoint(lg) + 1px}) and (max-width: #{rl-media-breakpoint(xl)}) {
        @content;
    }
}

@mixin rl-minimal-desktop-and-below {
    @media (max-width: #{rl-media-breakpoint(xl)}) {
        @content;
    }
}

@mixin rl-desktop {
    @media (min-width: #{rl-media-breakpoint(lg) + 1px}) {
        @content;
    }
}

@mixin rl-desktop-xl {
    @media (min-width: #{rl-media-breakpoint(xl) + 1px}) {
        @content;
    }
}

@mixin rl-desktop-xxl {
    @media (min-width: #{rl-media-breakpoint(xxl) + 1px}) {
        @content;
    }
}

@mixin rl-desktop-and-tablet {
    @media (min-width: #{rl-media-breakpoint(md) + 1px}) {
        @content;
    }
}

@mixin rl-tablet {
    @media (min-width: #{rl-media-breakpoint(md) + 1px}) and (max-width: #{rl-media-breakpoint(lg)}) {
        @content;
    }
}

@mixin rl-tablet-and-mobile {
    @media (max-width: #{rl-media-breakpoint(lg)}) {
        @content;
    }
}

@mixin rl-mobile {
    @media (max-width: #{rl-media-breakpoint(md)}) {
        @content;
    }
}

@mixin rl-mobile-sm {
    @media (max-width: #{rl-media-breakpoint(sm)}) {
        @content;
    }
}

@mixin rl-responsive-below($width) {
    @media (max-width: #{$width}) {
        @content;
    }
}

@mixin rl-responsive-above($width) {
    @media (min-width: #{$width}) {
        @content;
    }
}

@mixin rl-responsive-range($from, $to) {
    @media (min-width: #{$from}) and (max-width: #{$to}) {
        @content;
    }
}
